// --------------------------------------------------------
// arrows
// --------------------------------------------------------
// $direction: top, left, right, bottom, top-left, top-right, bottom-left, bottom-right
// $color: hex, rgb or rbga
// $size: px or em
// @example
// .element{
//     @include arrow(top, #000, 50px);
// }

$arrow-size-border: 10px;
$arrow-size: $arrow-size-border * 2;

@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;

    @if $direction == 'top' {
        border-left: $size solid transparent;
    	border-right: $size solid transparent;
    	border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    	border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
    	border-right: $size solid $color;
    	border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
    } @else if $direction == 'top-right' {
        border-top: $size solid $color;
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color;
        border-right: $size solid transparent;
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
    }
}

/* intro */
.intro-hint {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1100;

  > .intro-circle {
    background: #FF3B3B;
    box-shadow: 0 0 1px 13px #FF7B7B;
    border-radius: 10000px;
    width: 40px;
    height: 40px;
    pointer-events: none;
  }


}
.intro-tooltip {
  position: absolute;
  min-width: 400px;
  min-height: 200px;
  background: rgba(#5F2D4A, .8);
  color: #FFF;
  border: solid 2px blue;
  z-index: 1200;

  .intro-tooltip-arrow{
    display: block;
    position: absolute;
  }

  .intro-tooltip-arrow {
    &[position=right]{
      @include arrow('left', red, $arrow-size-border);
    }
    &[position=left]{
      @include arrow('right', red, $arrow-size-border);
    }
    &[position=bottom]{
      @include arrow('top', red, $arrow-size-border);
    }
    &[position=top]{
      @include arrow('bottom', red, $arrow-size-border);
      top: 0;
    }
  }

  &.right {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 12px);

  }

  &.left {
    top: 50%;
    right: calc(100% + 13px );
    transform: translateY(-50%);
    .intro-tooltip-arrow {

    }
  }

  &.bottom {
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    .intro-tooltip-arrow {

    }
  }

  &.top {
    bottom: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    .intro-tooltip-arrow {

    }
  }
}
.intro-element {
  z-index: 1100 !important;
}

.intro-backdrop {
  background: rgba(#000, .2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.intro-fixparent {
  z-index: auto !important;
  opacity: 1.0 !important;
  transform: none !important;
}
