/* intro */
.intro-hint {
  position: absolute;
  width: 40px;
  height: 40px;
  transition: top 0.5s ease-out, left 0.5s ease-out;
  z-index: 1100;
  pointer-events: none;
}
.intro-hint > .intro-circle {
  background: #FF3B3B;
  box-shadow: 0 0 1px 13px #FF7B7B;
  border-radius: 10000px;
  width: 40px;
  height: 40px;
}
.intro-hint .intro-tooltip {
  position: absolute;
  min-width: 500px;
  min-height: 300px;
  background: #FFF;
  color: #FFF;
}
.intro-hint .intro-tooltip.right {
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 12px);
}
.intro-hint .intro-tooltip.left {
  top: 50%;
  right: calc(100% + 13px );
  transform: translateY(-50%);
}
.intro-hint .intro-tooltip.bottom {
  top: calc(100% + 13px);
  left: 100%;
  transform: translateX(-50%);
}
.intro-hint .intro-tooltip.top {
  bottom: calc(100% + 13px);
  left: 100%;
  transform: translateX(-50%);
}

.intro-element {
  z-index: 1100 !important;
}

.intro-backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.intro-fixparent {
  z-index: auto !important;
  opacity: 1.0 !important;
  transform: none !important;
}
